.Rproj.user
.Rhistory
.RData
.Ruserdata
/archive
/assignment
/manuscript
*.Rproj
/figures/archive
/data/for_visuals
/data/for_analysis
/data/exp4
/data/exp3
/data/exp2
/data/exp1
/data/archive
/code/old
/code/exp2
/code/exp1
code/.DS_Store
.DS_Store
